<h1>Posts with Hashtag</h1>

{{#each posts}}
  <div>
    <h2>{{this.title}}</h2>
    <p>{{this.description}}</p>
    <a href="/user/{{this.user._id}}">{{this.user.username}}</a>
    <img src="{{this.image}}" alt="{{this.title}}">
    <p>Likes: {{this.likes}}</p>
  </div>
{{/each}}