<br>
<h2 class="h4">All Posts</h2>
<br>
<h3><a href="/posts/create" type="button" class="btn btn-primary">Create Post</a></h3>

<br />
{{#each posts}}
  <div class="card">
    <div class="card-body">
      <h3 class="card-title"><a
          href="/posts/user/{{this.user._id}}"
        >{{this.user.username}}</a>
        -
        <a class="card-text" href="/posts/{{this._id}}">{{this.title}}</a></h3>
      <img src="{{this.image}}" class="card-img-bottom" alt="{{this.title}}" />
    </div>
  </div>
  <br />
{{/each}}