<h2>All Posts</h2>

{{#if user}}
  <h3><a href="/posts/create">Create New Post</a></h3>
{{else}}
  <p>You must be logged in to create a post.</p>
  <p>Click on sign up to create an account.</p>
{{/if}}
<br />
{{#each posts}}
  <div>
    <h3><a href="/posts/user/{{this.user._id}}">{{this.user.username}}</a>
      -
      <a href="/posts/{{this._id}}">{{this.title}}</a></h3>
    <img src="{{this.image}}" alt="{{this.title}}" />
  </div>
{{/each}}