<h1>{{post.title}}</h1>
<p>{{post.description}}</p>
<a href="/user/{{post.user._id}}">{{post.user.username}}</a>
<img src="{{post.image}}" alt="{{post.title}}">
<p>Likes: {{post.likes}}</p>

<p>Hashtags:</p>
<ul>
  {{#each post.hashtags}}
    <li>{{this.text}}</li>
  {{/each}}
</ul>

<p>Comments:</p>
<ul>
  {{#each post.comments}}
    <li>{{this.text}}</li>
  {{/each}}
</ul>