<h1>Posts of {{user.username}}</h1>

{{#each posts}}
  <div>
    <h2>{{this.title}}</h2>
    <p>{{this.description}}</p>
    <img src="{{this.image}}" alt="{{this.title}}">
    <p>Likes: {{this.likes}}</p>
  </div>
{{/each}}